<h1 class="heading"><%= @user.username %></h1>
<div>
    <h4><%= @profile.fname %>   <%= @profile.sname %></h4>
    <h5><%= @profile.role %></h5>
</div>
<div>
    <p>Bio:</p>
    <p>
        <%= @profile.bio %>
    </p>
    <div class="row">
        <div class="col-lg-1"> 
            <%= link_to 'Edit', edit_user_profile_url(@user, @profile), class: 'nav-link custom-nav'%>
        </div>
        <div class="col-lg-2"> 
            <%= link_to 'Delete', user_profile_url(@user, @profile), method: :delete, class: 'nav-link custom-nav'%>
        </div>
    </div>
</div>


