<h1 class="heading">Edit comment</h1>

<div class="comment-input-section">
    <%= form_tag(user_profile_news_report_comment_url(), method: "put") do %>
        <div class="form-row">
            <div class="form-group col-lg-10">
                <%= text_area_tag :user_comment, rows='10', class: 'form-control' %>
            </div>
            <div class="form-group col-lg-2">
                <%= submit_tag("comment", class: 'form-control comment-btn')%>
                <%= link_to "Cancel", user_profile_news_report_url(params[:user_id], params[:profile_id], params[:news_report_id])%>
            </div>
        </div>
    <% end %>
</div>