<h1 class="heading">Edit news report</h1>
<%= form_for :news_report, url: user_profile_news_report_url(@current_user, @current_profile, @news_report), method: :put do |f| %>
    <% if @news_report.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@news_report.errors.count, "error")%>
            prohibited this review from being saved:</h2>
            <ul>
                <% @news_report.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <div class="form-row">
            <div class="form-group col-md-8">
                <%= f.label :title, 'Title' %>
                <%= f.text_field :title , class: 'form-control'%>
            </div>
            <div class="form-group col-md-4">
                <%= f.label :category, 'Category' %>
                <%= f.text_field :category, class: 'form-control'%>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :content, 'Content' %>
            <%= f.text_area :content, class: 'form-control', rows: '20'%>
        </div>
        <div class="form-group">
            <%= f.submit ('Edit'), class: 'btn btn-primary' %>
        </div>
    </div>
<% end %>
