<h1 class="heading">Report title in <%= @news_report.title %></h1>
<div>
    <h3>Category: <%= @news_report.category %></h2>
    <h4>Written by: <%= @news_report.createdby %></h3>
</div>
<div>
    <p>
        <%= @news_report.content %>
    </p>
    <% if @current_profile_id == @news_report.profile_id %>
        <div class="row">
            <div class="col-lg-1"> 
                <%= link_to 'Edit', edit_user_profile_news_report_path(@user,   @profile, @news_report), class: 'nav-link custom-nav'%>
            </div>

            <div class="col-lg-2"> 
                <%= link_to 'Delete', user_profile_news_report_url, method: :delete, class: 'nav-link custom-nav'%>
            </div>
        </div>
    <% end %>
</div>
<div class="comment-input-section">
    <%= form_tag(user_profile_news_report_comments_url(@user, @profile, @news_report), method: "post") do %>
        <div class="form-row">
            <div class="form-group col-lg-10">
                <%= text_area_tag :user_comment, rows='10', class: 'form-control' %>
            </div>
            <div class="form-group col-lg-2">
                <%= submit_tag("comment", class: 'form-control comment-btn')%>
            </div>
        </div>
    <% end %>
</div>
<% if @comments %>
    <% for @comment in @comments %>
        <div class="comment-section">
            <div class="card comment-cards">
                <div class="card-body">
                    <p><%= @comment.comment %></p>
                    <% if @comment.sentiment == 'Positive'%>
                        <p>Sentiment: &#128516;</p>
                    <% elsif @comment.sentiment == 'Negative' %>
                        <p>Sentiment: &#129324;</p>
                    <% elsif @comment.sentiment == 'Neutral' %>
                        <p>Sentiment: &#128566;</p>
                    <% end %>
                    <p>Posted by: <%= @comment.createdby %></p>
                    <% if @current_profile_id == @comment.profile_id %>
                        <div class="row">
                            <div class="col-lg-2">
                                <%= link_to 'Edit' ,edit_user_profile_news_report_comment_url(@user, @profile, @news_report, @comment), class: 'nav-link'%>
                            </div>
                            <div class="col-lg-2 ">
                                <%= link_to 'Delete', user_profile_news_report_comment_url(@user, @profile, @news_report, @comment), :confirm => 'Are you sure?', :method => :delete, class: 'nav-link comment-buttons'%>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>  
    <% end %>
<% end %>

