<%= stylesheet_link_tag 'style' %>
<div class="container"> 
  <h1 class="heading">Search news</h1>
  <div>
    <%= form_tag(search_url, method: 'get', class: 'form') do %>
      <div class="form-row">
          <div class="form-group col-lg-10">
              <%= text_field_tag :search_value, rows='10', class: 'form-control' %>
          </div>
          <div class="form-group col-lg-2">
              <%= submit_tag("Search", class: 'form-control comment-btn')%>
          </div>
      </div>
    <% end %>
  </div>
  <% if @news_reports %>
    <div class="row">
      <% for news_report in @news_reports %> 
        <div class="col-lg-4 card-wrapper"> 
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title"><b>Title:</b> <%= news_report.title %></h5>
                  <h6 class="card-subtitle"><b>Category:</b> <%= news_report.category %></h6><br/>
                  <p><%= news_report.content[0..150].gsub(/\s\w+\s*$/,'...') %></p>
                  <%= link_to 'Read more', user_profile_news_report_url(Profile.find(news_report.profile.id).user_id, news_report.profile, news_report)
                  %>
                  <% if news_report.createdby %>
                      <footer class="blockquote-footer">
                          <cite><%= news_report.createdby %></cite>
                      </footer>
                  <% end %>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>   

  <% @news["newsApiSearchResponse"]["articles"].each do |content| %>
    <div class="card-content-container"> 
      <div class="card">
        <div class="card-header">  
          <h5><%= content["title"] %></h5>
          <h6>- <%= content["source"]["name"] %></h6>
        </div>
        <div class="card-body"> 
          <p><%= content["description"] %></p>
          <p><%= content["publishedAt"] %></p>
          <a href=<%= content["url"] %> class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
  <% end %>

  <% @news["guardianApiSearchResponse"]["response"]["results"].each do |content| %>
    <div class="card-content-container">
      <div class="card">
        <div class="card-header">
          <h5><%= content["webTitle"]%></h5>
        </div>
        <div class="card-body"> 
          <p><%= content["type"]%></p>
          <p><%= content["sectionName"]%></p>
          <p><%= content["webPublicationDate"]%></p>
          <a href=<%= content["webUrl"] %> class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
  <% end %>
</div>


