<p id="notice"><%= notice %></p>

<h1>News Writers</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Firstname</th>
      <th>Secondname</th>
      <th>Bio</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news_writers.each do |news_writer| %>
      <tr>
        <td><%= news_writer.username %></td>
        <td><%= news_writer.password %></td>
        <td><%= news_writer.firstName %></td>
        <td><%= news_writer.secondName %></td>
        <td><%= news_writer.bio %></td>
        <td><%= news_writer.role %></td>
        <td><%= link_to 'Show', news_writer %></td>
        <td><%= link_to 'Edit', edit_news_writer_path(news_writer) %></td>
        <td><%= link_to 'Destroy', news_writer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New News Writer', new_news_writer_path %>
