<ul class="nav justify-content-end navbar">
  <% if current_user && current_user.profile %>
    <li class="nav-item">
      <%= link_to "Breaking News", news_url, :class => 'nav-link navbar-brand'%>
    </li>
    <li class="nav-item">
      <%= link_to "Favourites", favourites_url, :class => 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to "News reports", newsreports_url, :class => 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to "Your reports", user_profile_news_reports_url(current_user.id, current_user.profile.id), :class => 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to "Create reports",  new_user_profile_news_report_url(current_user.id, current_user.profile.id), :class => 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to "News Writers", newswriters_url, :class => 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to "Account",  user_profiles_url(current_user), :class => 'nav-link'%>
    </li>
    <li class="nav-item">
        <%= link_to "Sign out", destroy_user_session_url, :class => 'nav-link', method: :delete%>
    </li>
    <% elsif !current_user %>
      <li class="nav-item">
        <%= link_to 'Sign in', new_user_session_path, :class => 'nav-link'%>
      </li>
    <% else %>
    <li class="nav-item">
      <%= link_to 'Cancel', user_registration_url, :class => 'nav-link', method: :delete%>
    </li>
    <% end %>
</ul>